.hero {
    padding: 15px;
    background: rgba(0, 0, 0, 0.864);
    border-radius: 1px;                           
    box-shadow: 0 4px 12px rgba(63, 177, 230, 0.5); 
    z-index: 1;
}

.header-text {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;           
    display: inline-block;      
    padding-bottom: 4px;
    color: rgba(16, 253, 253, 0.307);
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.205);
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

#contacts {
    margin: 0 20px 0 50px;
}

#projects {
    margin: 0 0 0 50px;
}

#skills {
    margin: 0 0 0 50px;
}

.logo {
    margin-left: 15px;
}
.logo .right-logo {
    margin-right: 25px;
}


@media (max-width: 1080px) {
    .header-text {
        justify-content: center;
    }
    a {
        font-size: 24px;
    }

    .logo {
        margin-right: 10px;
    }

    .logo .right-logo, .github-logo, .facebook-logo {
        height: 15px;
        width: 15px;
    }
}