body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}

#about-section,
#skills-section,
#projects-section,
#contacts-section {
  scroll-margin-top: 70px;
}

@media (max-width: 1080px) {
  html {
    scroll-padding-top: 62px;
  }

  #about-section,
  #skills-section,
  #projects-section,
  #contacts-section {
    scroll-margin-top: 62px;
  }
}